// fonts
$font: 'Albert Sans', sans-serif;

// colors
// $color-light: #f1f1f3;
// $color-semilight: #a5a8b6;
// $color-dark: #1b2030;
// $color-semidark: #292e41;
// $color-accent-blue: #2ebac6;
// $color-accent-purple: #b6509e;

// colors alt
// $color-light: #f1f1f3;
// $color-semilight: #a5a8b6;
// $color-dark: #000;
// $color-semidark: #161618;
// $color-accent: #23F7DD;

// indents
$gap: 30px;
$gap-half: 15px;

// breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
